body.password-generator{
	background-image: url("../../images/text-cleaner-wm.png");
	background-color:#f9f9f9;
	&:before{
		content: "";
    	display: block;
		position: absolute;
		top: -21rem;
		left: 50%;
		height:80%;
		background-color:$dark-blue;
		margin-left: -187.5rem;
		width: 375rem;
		transform: rotate(11deg);
		transform-origin: 50% 0;
	}
	.password-row{
		position:relative;
	}
	.getNewPass{
		background-color:$light-blue;
		position:absolute;
		right:0;
		padding:0 20px;
		height:50px;
		color:$dark-blue;
		border-radius:0;
	}
}