body.percentage-calculator{
	background-image: url("../../images/carousel-builder-wm.png");
	background-color:#f9f9f9;
	&:before{
		content: "";
    	display: block;
		position: absolute;
		top: -21rem;
		left: 50%;
		height:80%;
		background-color:$dark-blue;
		margin-left: -187.5rem;
		width: 375rem;
		transform: rotate(11deg);
		transform-origin: 50% 0;
	}
}


.calculator{
	&:nth-of-type(1){
		.percentage{
			div{
				position:relative;
				input[type=text]{
					width:100%;
					border:1px solid $dark-blue;
					margin:10px 0;
				}
				&:first-child{
					input{
						text-align:right;
						padding-right:30px;
					}
					&:after{
						content: "%";
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						right:0;
						z-index:2;
						font-size:12px;
						height:20px;
						width:20px;
					}
				}
				&:nth-of-type(2){
					input{
						text-align:left;
						padding-left:30px;
					}
					&:after{
						content: "of";
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						left:5px;
						z-index:2;
						font-size:12px;
						height:20px;
						width:20px;
					}
				}
				&:nth-of-type(3){
					input{
						text-align:left;
						padding-left:30px;
					}
					&:after{
						content: "is";
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						left:5px;
						z-index:2;
						font-size:12px;
						height:20px;
						width:20px;
					}
				}
			}
		}
	}
	&:nth-of-type(2){
		.percentage{
			div{
				position:relative;
				input[type=text]{
					width:100%;
					border:1px solid $dark-blue;
					margin:10px 0;
				}
				&:first-child{
					input{
						text-align:right;
						padding-right:120px;
					}
					&:after{
						content: "is what percent";
						position:absolute;
						top:50%;
						transform:translateY(-55%);
						right:10px;
						z-index:2;
						font-size:12px;
						height:20px;
						width:110px;
						text-align:right;
					}
				}
				&:nth-of-type(2){
					input{
						text-align:left;
						padding-left:30px;
					}
					&:after{
						content: "of";
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						left:5px;
						z-index:2;
						height:20px;
						font-size:12px;
						width:20px;
					}
				}
				&:nth-of-type(3){
					input{
						text-align:right;
						padding-right:30px;
					}
					&:after{
						content: "%";
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						right:0;
						z-index:2;
						height:20px;
						font-size:12px;
						width:20px;
					}
				}
			}
		}
	}
}


